*.keystore
keystore.properties

app/release
*.apk
output-metadata.json

bin/
gen/
out/
build/

local.properties

.DS_Store

*.iml
.idea/*
!.idea/copyright

.gradle

captures/

.externalNativeBuild
.cxx
